.header__lang-link {
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-decoration: none;
    display: flex;
    margin: 0;
}

.header__lang-link:hover {
    opacity: 0.8;
    transition: all 0.3s linear;
}

@media screen and (max-width: 424px) {
    .header__lang-link {
        margin-top: 10px;
        font-size: 18px;
    }
}